@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(235, 240, 235);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #64748b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
